@page
@model CSharpFinalProject.Pages.contactReplyModel
@{
    ViewData["Title"] = "contactReplay";
}

<div class="contact-reply">
    <h2>Thank you @Model.name</h2>
    <h4>Date: @DateTime.Now</h4>
    <p>We just recieved your email. we will contact you as soon as possible.</p>
</div>